* {
	margin: 0;
	padding: 0;
}

body, #container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	justify-items: stretch;
	align-items: stretch;
}

svg#canvas {
	background-color: white;	
	touch-action: none;
}

#toolbox {
	display: grid;
	grid-gap: 1rem;
	position: absolute;
	padding: 1rem;
	padding-bottom: 1.6rem;
	left: 1rem;
	top: 1rem;
	background: white;
	justify-items: center;
	border-radius: 1rem;
	user-select: none;
}

#toolbox #logo {
	width: 4rem;
	margin-bottom: 0.2rem;
}

#toolbox img.button {
	width: 2rem;
	cursor: pointer;
}
#toolbox img.button:hover {
	filter: brightness(70%);
}

#toolbox #redo {
	transform: scaleX(-1);
}

#toolbox input[type="file"] {
	display: none;
}

#toolbox #grab {
	margin-top: .5rem;
	width: 1.4rem;
	cursor: grab;
	filter: brightness(70%);
}
